@media (min-width: 0px) {
    #loginCard {
        width: 91%;
        height: 67%;
    }
}

@media (min-width: 360px) {
    #loginCard {
        width: 98%;
        height: 570px;
    }
}

@media (min-width: 412px) {
    #loginCard {
        width: 86%;
        height: 62%;
    }
}

@media (min-width: 768px) {
    #loginCard {
        width: 50%;
        height: 58%;
    }
}

@media (min-width: 900px) {
    #loginCard {
        width: 43%;
        height: 42%;
    }
}

@media (min-width: 1366px) {
    #loginCard {
        width: 27%;
        height: 78%;
    }
}

@media (min-width: 1440px) {
    #loginCard {
        width: 26%;
        height: 67%;
    }
}

@media (min-width: 1536px) {
    #loginCard {
        width: 20%;
        height: 60%;
    }
}
