@media (min-width: 1366px) {
    #loginCard {
        width: 27%;
        height: 78%;
    }
}

@media (min-width: 1440px) {
    #loginCard {
        width: 26%;
        height: 67%;
    }
}

@media (min-width: 1536px) {
    #loginCard {
        width: 20%;
        height: 52%;
    }
}
